{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Manolo's Portfolio</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img src="{% static 'portfolio/portfolio-img.jpeg' %}" />
    </div>

    <div class="mt-5">
        <h2>Projects</h2>
        <hr />
    </div>
    <div class="row row-cols-3">
        {% for project in projects %}
        <div class="col">
            {% if project.url %}
            <a class="link" href="{{project.url}}">
            {% else %}
            <a class="link" href="#">
            {% endif %}
                <img class="project-img" src="{{project.image.url}}" />
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}